body {
	cursor: url("../resource/cursor/normal.cur"), default;
}

.left_arrow_div {
	cursor: url("../resource/cursor/link.cur"), pointer;
}

.right_arrow_div {
	cursor: url("../resource/cursor/link.cur"), pointer;
}

.goal.goal_wrap {
	cursor: url("../resource/cursor/Escritura.cur"), pointer;
}

.bgm {
	cursor: url("../resource/cursor/Escritura.cur"), pointer;
}

