/* PE */
@media only screen and (min-device-width: 300px) {
	/* 左箭头 */
	.left_arrow_div {
		position: absolute;
		bottom: 13px;
		width: 25px;
		height: 25px;
		/* background: blue; */
		margin-bottom: 23px;
		z-index: 999;
		display: none;
	}
	
	.left_arrow {
		position: relative;
		top: 27%;
		left: 31%;
		width: 10px;
		height: 10px;
		border-top: 3px solid #fff;
		border-right: 3px solid #fff;
		transform: rotate(-135deg);
	}
	
	.left_arrow_div:hover {
		background: gainsboro;
		opacity: 0.5;
	}
	
	.left_arrow_div:hover .left_arrow {
		border-top: 3px solid #111;
		border-right: 3px solid #111;
	}
	
	
	/* 右箭头 */
	.right_arrow_div {
		position: absolute;
		bottom: 35px;
		right: 0px;
		width: 25px;
		height: 25px;
		/* background: blue; */
		margin: 10% 0 0 10%;
		z-index: 999;
	}
	
	.right_arrow {
		position: relative;
		top: 27%;
		left: 18%;
		width: 10px;
		height: 10px;
		border-top: 3px solid #fff;
		border-right: 3px solid #fff;
		transform: rotate(45deg);
	}
	
	.right_arrow_div:hover {
		background: gainsboro;
		opacity: 0.5;
	}
	
	.right_arrow_div:hover .right_arrow {
		border-top: 3px solid #111;
		border-right: 3px solid #111;
	}
}

/* PC */
@media only screen and (min-width: 960px) {

	/* 左箭头 */
	.left_arrow_div {
		position: absolute;
		bottom: 0;
		width: 50px;
		height: 50px;
		/* background: blue; */
		margin-bottom: 23px;
		z-index: 999;
		display: none;
	}

	.left_arrow {
		position: relative;
		top: 27%;
		left: 31%;
		width: 20px;
		height: 20px;
		border-top: 3px solid #fff;
		border-right: 3px solid #fff;
		transform: rotate(-135deg);
	}

	.left_arrow_div:hover {
		background: gainsboro;
		opacity: 0.5;
	}

	.left_arrow_div:hover .left_arrow {
		border-top: 3px solid #111;
		border-right: 3px solid #111;
	}


	/* 右箭头 */
	.right_arrow_div {
		position: absolute;
		bottom: 23px;
		right: 0px;
		width: 50px;
		height: 50px;
		/* background: blue; */
		margin: 10% 0 0 10%;
		z-index: 999;
	}

	.right_arrow {
		position: relative;
		top: 27%;
		left: 18%;
		width: 20px;
		height: 20px;
		border-top: 3px solid #fff;
		border-right: 3px solid #fff;
		transform: rotate(45deg);
	}

	.right_arrow_div:hover {
		background: gainsboro;
		opacity: 0.5;
	}

	.right_arrow_div:hover .right_arrow {
		border-top: 3px solid #111;
		border-right: 3px solid #111;
	}
}
