/* 华为P40 */
@media only screen and (min-device-width: 360px) and (max-device-height: 780px) {
	/* BGM */
	.bgm {
		float: right;
		width: 100%;
	}
	
	/* 自动播放confirm框 */
	.modal-dialog {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 230px;
		height: 130px;
		margin-left: -100px;
		margin-top: -50px;
	}
}
/* 浏览器大于 960px 的样式 */
@media only screen and (min-width: 960px) {

	/* BGM */
	.bgm {
		float: right;
	}

	/* 自动播放confirm框 */
	.modal-dialog {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 230px;
		height: 130px;
		margin-left: -100px;
		margin-top: -50px;
	}
}
