body .heart{
	position: relative;
	top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
body .heart ul,ol{
	list-style: none;
}
body .heart ul{
	height: 200px;
	padding: 0px;
	margin: 0px;
	display: flex;
}
body .heart li{
	width: 5px;
	height: 5px;
	border-radius: 5px;
	background: red;
	margin-right: 2.5px;
}

body .heart li:nth-child(1){
	background: deeppink;
	animation: heart1 4s 0s infinite;
}
body .heart li:nth-child(2){
	background: yellow;
	animation: heart2 4s 0.2s infinite;
}
body .heart li:nth-child(3){
	background: darkturquoise;
	animation: heart3 4s 0.4s infinite;
}
body .heart li:nth-child(4){
	background: darksalmon;
	animation: heart4 4s 0.6s infinite;
}
body .heart li:nth-child(5){
	background: red;
	animation: heart5 4s 0.8s infinite;
}
body .heart li:nth-child(6){
	background: darksalmon;
	animation: heart4 4s 1s infinite;
}
body .heart li:nth-child(7){
	background: darkturquoise;
	animation: heart3 4s 1.2s infinite;
}
body .heart li:nth-child(8){
	background: yellow;
	animation: heart2 4s 1.4s infinite;
}
body .heart li:nth-child(9){
	background: deeppink;
	animation: heart1 4s 1.6s infinite;
}

@keyframes heart1{
	30%,50%{
		height: 20px;
		transform: translateY(-7.5px);
	}
	70%,100%{
		height: 0px;
		transform: translateY(0px);
	}
}

@keyframes heart2{
	30%,50%{
		height: 31.25px;
		transform: translateY(-15px);
	}
	70%,100%{
		height: 0px;
		transform: translateY(0px);
	}
}

@keyframes heart3{
	30%,50%{
		height: 40px;
		transform: translateY(-18.75px);
	}
	70%,100%{
		height: 0px;
		transform: translateY(0px);
	}
}

@keyframes heart4{
	30%,50%{
		height: 45px;
		transform: translateY(-15px);
	}
	70%,100%{
		height: 0px;
		transform: translateY(0px);
	}
}

@keyframes heart5{
	30%,50%{
		height: 50px;
		transform: translateY(-11.25px);
	}
	70%,100%{
		height: 0px;
		transform: translateY(0px);
	}
} 