/* PE */
@media only screen and (min-device-width: 300px) {
	body {
		overflow: hidden;
		padding: 0;
		margin: 0;
		transition: all 1s ease;
		width: 100%;
		/* height: 780px; */
		background: url("../../resource/background.jpg") no-repeat fixed center;
		background-size: cover;
		/* 事件穿透，冒泡 */
		pointer-events: auto;
	}

	/* 透明遮罩层 */
	body::before {
		content: '';
		background: rgba(0, 0, 0, 0.2);
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		/* 事件穿透，冒泡 */
		pointer-events: none;
	}

	/* 时间轴 */
	.timeline {
		position: absolute;
		bottom: 0;
		top: 100;
		width: 9000px;
		height: 50px;
		background: rgba(0, 0, 0, 0.5);
		border-top: 1px solid #fff;
		padding-left: 80px;
	}

	/* 时间轴日期 */
	.date {
		color: #fff;
		float: left;
		width: 150px;
		height: 50px;
	}

	.date::before {
		content: '';
		position: absolute;
		height: 100vh;
		width: 1px;
		background: rgba(255, 255, 255, 0.7);
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
		/*Safari 5.1-6*/
		background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
		/*Opera 11.1-12*/
		background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
		/*Fx 3.6-15*/
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 1));
		/*Standard*/
		margin-top: -100vh;
	}

	.date_no_line {
		color: #fff;
		float: left;
		width: 150px;
		height: 50px;
	}

	/* 日期跳转 */
	a {
		color: #fff;
		text-decoration: none;
	}

	p.focus {
		position: absolute;
		top: 0;
		margin-left: -14px;
		padding-top: 10px;
	}

	p.focus::before {
		content: '';
		width: 20px;
		height: 20px;
		border: 1px solid #fff;
		border-radius: 50%;
		position: absolute;
		top: -10px;
		left: 3.5px;
	}

	p.focus::after {
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		background: #fff;
		border-radius: 50%;
		top: -5px;
		left: 9px;
	}

	/* 跳转光标 */
	.goal_wrap {
		position: absolute;
		width: 50px;
		height: 50px;
		border: 2px solid #fff;
		text-align: center;
		border-radius: 50%;
		line-height: 50px;
		top: -100px;
		margin-left: -24px;
		font-size: 24px;
		transition: all 0.5s ease;
	}

	.goal_wrap:hover {
		width: 60px;
		height: 60px;
		line-height: 60px;
		margin-left: -30px;
		font-size: 30px;
		cursor: pointer;
	}

	.goal_wrap.active {
		top: -160px;
		width: 80px;
		height: 80px;
		line-height: 80px;
		margin-left: -40px;
		font-size: 40px;
		cursor: pointer;
	}

	.bounce {
		animation: bounce 1s .5s;
		transform: scale(0.85);
	}

	@keyframes bounce {
		0% {
			transform: scale(0.85);
			opacity: 1;
		}

		50% {
			transform: scale(0.95);
			opacity: .7;
		}

		60% {
			transform: scale(0.6);
			opacity: 1;
		}

		80% {
			transform: scale(1.6)
		}

		100% {
			transform: scale(1.1)
		}
	}


}

/* PC */
@media only screen and (min-width: 960px) {
	body {
		overflow: hidden;
		padding: 0;
		margin: 0;
		transition: all 1s ease;
		width: 100%;
		height: 800px;
		background: url("../../resource/background.jpg") no-repeat fixed center;
		background-size: cover;
		/* 事件穿透，冒泡 */
		pointer-events: auto;
	}

	/* 透明遮罩层 */
	body::before {
		content: '';
		background: rgba(0, 0, 0, 0.2);
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		/* 事件穿透，冒泡 */
		pointer-events: none;
	}

	/* 时间轴 */
	.timeline {
		position: absolute;
		bottom: 0;
		top: 100;
		width: 9000px;
		height: 50px;
		background: rgba(0, 0, 0, 0.5);
		border-top: 1px solid #fff;
		padding-left: 80px;
	}

	/* 时间轴日期 */
	.date {
		color: #fff;
		float: left;
		width: 150px;
		height: 50px;
	}

	.date::before {
		content: '';
		position: absolute;
		height: 100vh;
		width: 1px;
		background: rgba(255, 255, 255, 0.7);
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
		/*Safari 5.1-6*/
		background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
		/*Opera 11.1-12*/
		background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
		/*Fx 3.6-15*/
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 1));
		/*Standard*/
		margin-top: -100vh;
	}

	.date_no_line {
		color: #fff;
		float: left;
		width: 150px;
		height: 50px;
	}

	/* 日期跳转 */
	a {
		color: #fff;
		text-decoration: none;
	}

	p.focus {
		position: absolute;
		top: 0;
		margin-left: -14px;
		padding-top: 10px;
	}

	p.focus::before {
		content: '';
		width: 20px;
		height: 20px;
		border: 1px solid #fff;
		border-radius: 50%;
		position: absolute;
		top: -10px;
		left: 3.5px;
	}

	p.focus::after {
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		background: #fff;
		border-radius: 50%;
		top: -5px;
		left: 9px;
	}

	/* 跳转光标 */
	.goal_wrap {
		position: absolute;
		width: 50px;
		height: 50px;
		border: 2px solid #fff;
		text-align: center;
		border-radius: 50%;
		line-height: 50px;
		top: -100px;
		margin-left: -24px;
		font-size: 24px;
		transition: all 0.5s ease;
	}

	.goal_wrap:hover {
		width: 60px;
		height: 60px;
		line-height: 60px;
		margin-left: -30px;
		font-size: 30px;
		cursor: pointer;
	}

	.goal_wrap.active {
		top: -160px;
		width: 80px;
		height: 80px;
		line-height: 80px;
		margin-left: -40px;
		font-size: 40px;
		cursor: pointer;
	}

	.bounce {
		animation: bounce 1s .5s;
		transform: scale(0.85);
	}

	@keyframes bounce {
		0% {
			transform: scale(0.85);
			opacity: 1;
		}

		50% {
			transform: scale(0.95);
			opacity: .7;
		}

		60% {
			transform: scale(0.6);
			opacity: 1;
		}

		80% {
			transform: scale(1.6)
		}

		100% {
			transform: scale(1.1)
		}
	}
}
